In [5]:
import pandas as pd

In [6]:
#データ読み込み&表示
#df = pd.read_csv('data/allgame_result.csv')
df = pd.read_csv('../data_new/allgame_result_corrected.csv')
display(df.head())
length = df.shape[0]
print(length)

   投球数      球種       球速   結果     投手     打者  スコア  アウトカウント
0    1   ストレート  147km/h   中飛  菅野 智之  大島 洋平  0-0        1
1    1   ストレート  144km/h  ボール  菅野 智之  岡林 勇希  0-0        2
2    2  カットボール  139km/h  見逃し  菅野 智之  岡林 勇希  0-0        2
3    3   スライダー  132km/h  二ゴロ  菅野 智之  岡林 勇希  0-0        2
4    1   ツーシーム  147km/h  ボール  菅野 智之  福留 孝介  0-0        3

243709

In [18]:
df[125111:125112]['結果']

125111    ボール
Name: 結果, dtype: object

In [19]:
df[125111:125112]['結果'] = '四球  [申告敬遠]'

C:\Users\yutay\AppData\Local\Temp/ipykernel_3136/1706351890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[125111:125112]['結果'] = '四球  [申告敬遠]'

In [20]:
df[125109:125116]['結果']

125109    二ゴロ  [ダイビングキャッチ、好プレイ]
125110            ボール  [ワンバウンド]
125111               四球  [申告敬遠]
125112            ボール  [ワンバウンド]
125113                      見逃し
125114                      空振り
125115                     ファウル
Name: 結果, dtype: object

In [25]:
df[166476:166477]['結果']

166476    ボール
Name: 結果, dtype: object

In [26]:
df[166476:166477]['結果'] = '四球  [申告敬遠]'

C:\Users\yutay\AppData\Local\Temp/ipykernel_3136/2650820832.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[166476:166477]['結果'] = '四球  [申告敬遠]'

In [27]:
df[166473:166478]['結果']

166473    一直  [野手の正面をつく、ジャンピングキャッチ]
166474             ボール  [高めのつり球を要求]
166475                          ボール
166476                   四球  [申告敬遠]
166477                          三ゴロ
Name: 結果, dtype: object

In [30]:
df[171949:171950]['結果']

171949    ボール
Name: 結果, dtype: object

In [31]:
df[171949:171950]['結果'] = '四球  [申告敬遠]'

C:\Users\yutay\AppData\Local\Temp/ipykernel_3136/1467816686.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[171949:171950]['結果'] = '四球  [申告敬遠]'

In [32]:
df[171945:171952]['結果']

171945    二ゴロ  [内野前進、ヘッドスライディング、好プレイ]
171946                            空振り
171947                            ボール
171948                            ボール
171949                     四球  [申告敬遠]
171950                            見逃し
171951                            ボール
Name: 結果, dtype: object

In [34]:
df[173213:173214]['結果']

173213    一ゴロ
Name: 結果, dtype: object

In [35]:
df[173213:173214]['結果'] = '一ゴロ  [投手捕球ミスのため出塁]'

C:\Users\yutay\AppData\Local\Temp/ipykernel_3136/2554423776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[173213:173214]['結果'] = '一ゴロ  [投手捕球ミスのため出塁]'

In [36]:
df[173213:173219]['結果']

173213    一ゴロ  [投手捕球ミスのため出塁]
173214         ボール  [ワンバウンド]
173215                   ボール
173216                   ボール
173217                    四球
173218                   ボール
Name: 結果, dtype: object

In [42]:
#4507
df[4505:4509]
#array = [4505,4506,4507]

      投球数     球種       球速             結果     投手     打者  スコア  アウトカウント
4505    1   シンカー  131km/h            空振り  益田 直也  田中 和基  5-4        1
4506    2  ストレート  146km/h            ボール  益田 直也  田中 和基  5-4        1
4507    3   シンカー  126km/h  ボール  [ワンバウンド]  益田 直也  田中 和基  5-4        1
4508    1   シンカー  131km/h            空振り  益田 直也  田中 和基  5-4        1

In [43]:
#48127
df[48124:48129]
#array = [4505,4506,4507,48124,48125,48126,48127]

,投球数,球種,球速,結果,投手,打者,スコア,アウトカウント
48124,1,チェンジアップ,128km/h,空振り,隅田 知一郎,紅林 弘太郎,1-1,2
48125,2,チェンジアップ,119km/h,ボール [ワンバウンド],隅田 知一郎,紅林 弘太郎,1-1,2
48126,3,ストレート,139km/h,ファウル [ランエンドヒット],隅田 知一郎,紅林 弘太郎,1-1,2
48127,4,カットボール,131km/h,ボール [ワンバウンド、送球できず],隅田 知一郎,紅林 弘太郎,1-1,2
48128,1,チェンジアップ,128km/h,空振り,隅田 知一郎,紅林 弘太郎,1-1,3

In [44]:
#57759
df[57757:57761]
#array = [4505,4506,4507,48124,48125,48126,48127,57757,57758,57759]

       投球数     球種       球速    結果    投手     打者  スコア  アウトカウント
57757    1  ツーシーム  140km/h  ファウル  石川 歩  柳田 悠岐  2-0        0
57758    2  ツーシーム  140km/h   ボール  石川 歩  柳田 悠岐  2-0        0
57759    3   シンカー  128km/h   ボール  石川 歩  柳田 悠岐  2-0        0
57760    1  ツーシーム  140km/h  ファウル  石川 歩  柳田 悠岐  2-0        0

In [45]:
#90374
df[90371:90376]
#array = [4505,4506,4507,48124,48125,48126,48127,57757,57758,57759,90371,90372,90373,
#90374,]

,投球数,球種,球速,結果,投手,打者,スコア,アウトカウント
90371,1,カーブ,109km/h,ボール,原 樹理,マーティン,2-2,2
90372,2,チェンジアップ,131km/h,空振り,原 樹理,マーティン,2-2,2
90373,3,ストレート,143km/h,ファウル,原 樹理,マーティン,2-2,2
90374,4,カーブ,105km/h,ボール [ワンバウンド、ランエンドヒット],原 樹理,マーティン,2-2,2
90375,1,カーブ,109km/h,ボール,原 樹理,マーティン,2-2,3

In [46]:
#103657
df[103655:103659]
#array = [4505,4506,4507,48124,48125,48126,48127,57757,57758,57759,90371,90372,90373,
#90374,103655,103656,103657]

        投球数       球種       球速                     結果  投手     打者  スコア  アウトカウント
103655    1  ナックルカーブ  127km/h                    ボール  レイ  中野 拓夢  0-2        0
103656    2    ストレート  148km/h  ボール  [セーフティバント、バント構え]  レイ  中野 拓夢  0-2        0
103657    3    ツーシーム  148km/h                    見逃し  レイ  中野 拓夢  0-2        0
103658    1  ナックルカーブ  127km/h                    ボール  レイ  中野 拓夢  0-2        1

In [47]:
#149131
df[149130:149133]
#array = [4505,4506,4507,48124,48125,48126,48127,57757,57758,57759,90371,90372,90373,
#90374,103655,103656,103657,149130,149131,]

,投球数,球種,球速,結果,投手,打者,スコア,アウトカウント
149130,1,ストレート,-,見逃し,柳 裕也,ロハス・ジュニア,1-3,1
149131,2,ストレート,143km/h,ボール [ダブルスチール、ディレイドスチール],柳 裕也,ロハス・ジュニア,1-3,1
149132,1,ストレート,-,見逃し,柳 裕也,ロハス・ジュニア,1-3,2

In [48]:
#163858
df[163854:163860]
#array = [4505,4506,4507,48124,48125,48126,48127,57757,57758,57759,90371,90372,90373,
#90374,103655,103656,103657,149130,149131,163854,163855,163856,163857,163858,
#]

        投球数     球種       球速                結果        投手     打者  スコア  アウトカウント
163854    1  スプリット  136km/h               見逃し  R.マルティネス  坂倉 将吾  6-5        2
163855    2  スプリット  138km/h               見逃し  R.マルティネス  坂倉 将吾  6-5        2
163856    3  ストレート  154km/h               ボール  R.マルティネス  坂倉 将吾  6-5        2
163857    4  スプリット  147km/h              ファウル  R.マルティネス  坂倉 将吾  6-5        2
163858    5  ストレート  153km/h  ボール  [高めのつり球を要求]  R.マルティネス  坂倉 将吾  6-5        2
163859    1  スプリット  136km/h               見逃し  R.マルティネス  坂倉 将吾  6-5        3

In [49]:
#180249
df[180247:180251]
#array = [4505,4506,4507,48124,48125,48126,48127,57757,57758,57759,90371,90372,90373,
#90374,103655,103656,103657,149130,149131,163854,163855,163856,163857,163858,
#180247,180248,180249,]

        投球数     球種       球速             結果     投手    打者  スコア  アウトカウント
180247    1  ストレート  145km/h            ボール  小川 泰弘  牧 秀悟  2-1        2
180248    2  ストレート  142km/h            空振り  小川 泰弘  牧 秀悟  2-1        2
180249    3  スライダー  131km/h  ボール  [ワンバウンド]  小川 泰弘  牧 秀悟  2-1        2
180250    1  ストレート  145km/h            ボール  小川 泰弘  牧 秀悟  2-1        3

In [51]:
#187644
df[187640:187646]
#array = [4505,4506,4507,48124,48125,48126,48127,57757,57758,57759,90371,90372,90373,
#90374,103655,103656,103657,149130,149131,163854,163855,163856,163857,163858,
#180247,180248,180249,187640,187641,187642,187643,187644]

        投球数       球種       球速                結果      投手     打者  スコア  アウトカウント
187640    1    ストレート        -     ボール  [ピッチアウト]  サイスニード  佐藤 輝明  0-0        2
187641    2  チェンジアップ  128km/h              ファウル  サイスニード  佐藤 輝明  0-0        2
187642    3    ストレート  149km/h              ファウル  サイスニード  佐藤 輝明  0-0        2
187643    4    ストレート  148km/h  ボール  [高めのつり球を要求]  サイスニード  佐藤 輝明  0-0        2
187644    5    ストレート        -   ボール  [ランエンドヒット]  サイスニード  佐藤 輝明  0-0        2
187645    1    ストレート        -     ボール  [ピッチアウト]  サイスニード  佐藤 輝明  0-0        3

In [52]:
#189838
df[189837:189840]
#array = [4505,4506,4507,48124,48125,48126,48127,57757,57758,57759,90371,90372,90373,
#90374,103655,103656,103657,149130,149131,163854,163855,163856,163857,163858,
#180247,180248,180249,187640,187641,187642,187643,187644,189837,189838]

        投球数      球種       球速   結果     投手     打者  スコア  アウトカウント
189837    1  カットボール  128km/h  空振り  大野 雄大  内山 壮真  3-1        2
189838    2   ストレート  142km/h  ボール  大野 雄大  内山 壮真  3-1        2
189839    1  カットボール  128km/h  空振り  大野 雄大  内山 壮真  3-1        3

In [53]:
array = [4505,4506,4507,48124,48125,48126,48127,57757,57758,57759,90371,90372,90373,
90374,103655,103656,103657,149130,149131,163854,163855,163856,163857,163858,
180247,180248,180249,187640,187641,187642,187643,187644,189837,189838]
print(len(array))

34

In [54]:
#該当箇所を削除&データフレームの該当箇所が削除されたかを確認
df = df.drop(df.index[[array]])
length = df.shape[0]
print(length)
print(243709-34)

#indexを振り直す
df = df.reset_index(drop=True)

243675
243675

C:\Users\yutay\anaconda3\lib\site-packages\pandas\core\indexes\base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [55]:
df.to_csv('../data_new/allgame_result_corrected2.csv',index=False)